<%-include("../../views/partials/user/header")%>


<!-- Start Banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <!-- Remove owl-carousel and active-banner-slider classes -->
                <div class="banner-content-wrapper">
                    <!-- Single static banner -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content banner-content-new">
                                <h1>BAG IT </h1><h2> New Collection!</h2>
                                <p class="banner-p">"Bagit Shopping brings you trendy, stylish, and functional bags for every occasion.✨ Carry elegance, flaunt confidence, and bag your perfect look! 👜"</p>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start Features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- Single features (unchanged) -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->
<!-- Start Product Area -->
<section class="product-area section_gap">
    <div class="container">
        <!-- Latest Products -->
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Latest Products</h1>
                    <p>"Bagit Shopping brings you trendy, stylish, and functional bags for every occasion.✨ Carry elegance, flaunt confidence, and bag your perfect look! 👜"</p>
                </div>
            </div>
        </div>
        <div class="row">
            <% for(let i=0; i<products.length; i++) { %>
            <!-- Single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
					<a href="/productDetails?id=<%=products[i]._id%>">
                    <img class="img-fluid" src="/uploads/product-images/<%=products[i].productImage[0]%>" alt="<%=products[i].productName%>">
                    <div class="product-details">
                            <h6><%=products[i].productName%></h6>
                        </a>
                        <div class="price">
                            <h6><%=products[i].salePrice%></h6>
                            <% if (products[i].salePrice < products[i].regularPrice) { %>
                                <h6 class="l-through">₹<%= products[i].regularPrice %></h6>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>
<!-- End Product Area -->

<!-- Start Brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
            </a>
        </div>
    </div>
</section>
<!-- End Brand Area -->

<!-- Remove Owl Carousel JS -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> -->
<%-include("../../views/partials/user/footer")%>