<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/logo.png" />
    <!-- Author Meta -->
    <meta name="author" content="CodePixar" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>BAG IT Shopping</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/nice-select.css" />
    <link rel="stylesheet" href="css/nouislider.min.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <style>
      .sortProduct {
        padding-right: 110px;
        padding-left: 34px;
        color: white;
        background-color: #828b#ffea00b3;
      }
      .selected {
  background-color: #e1e4f1; /* Change to your preferred highlight color */
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
}
.btn-filter{
  background-color: #828bb3;
}

    </style>
  </head>

  <body id="category">
    <!-- Start Header Area -->
    <header class="header_area sticky-header">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="/"
              ><img src="img/logo.png" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item active">
                  <a class="nav-link" href="/shop">Shop</a>
                </li>
                <!-- <a href="/shop" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                 aria-expanded="false">Shop</a> -->
                <!-- <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="">Shop Category</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/checkout">Product Checkout</a></li>
                                    <li class="nav-item"><a class="nav-link" href='/view-cart'>Shopping Cart</a></li>
                                    <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                                </ul> -->

                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="tracking.html">Tracking</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="elements.html">Elements</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html"></a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                  <a href="/view-cart" class="cart"
                    ><span class="ti-bag"></span
                  ></a>
                </li>
                <li class="nav-item">
                  <button class="search">
                    <span class="lnr lnr-magnifier" id="search"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="search_input" id="search_input_box">
        <div class="container">
          <form action="" method="GET" class="d-flex justify-content-between">
            <input
              type="text"
              class="form-control"
              name="query"
              id="search_input"
              placeholder="Search Here"
            />
            <button type="submit" class="btn"></button>
            <span
              class="lnr lnr-cross"
              id="close_search"
              title="Close Search"
            ></span>
          </form>
        </div>
      </div>
    </header>
    <!-- End Header Area -->
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
      <div class="container">
        <div
          class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
        >
          <div class="col-first">
            <h1>Shop Category page</h1>
            <nav class="d-flex align-items-center">
              <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
              <a href="/shop">Shop<span class="lnr"></span></a>
              <!-- <a href="/shop-details">Shop Details</a> -->
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Area -->
    <div class="container">
      <div class="row flex-row-reverse">
        <!-- Product Area -->
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="pagination">
              <% if (currentPage > 1) { %>
              <a href="/shop?page=<%= currentPage - 1 %>" class="prev-arrow">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              </a>
              <% } else { %>
              <span class="prev-arrow disabled">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              </span>
              <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
              <a
                href="/shop?page=<%= i %>"
                class="<%= currentPage === i ? 'active' : '' %>"
              >
                <%= i %>
              </a>
              <% } %> <% if (currentPage < totalPages) { %>
              <a href="/shop?page=<%= currentPage + 1 %>" class="next-arrow">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
              <% } else { %>
              <span class="next-arrow disabled">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </span>
              <% } %>
            </div>
          </div>
          <!-- End Filter Bar -->

          <!-- Start Best Seller -->
         <!-- Product List Container -->
<section class="lattest-product-area pb-40 category-list">
  <div id="productList" class="row">
    <% for (let i = 0; i < products.length; i++) { %>
      <!-- Single Product -->
      <div class="col-lg-4 col-md-6">
        <div class="single-product">
          <a href="/productDetails?id=<%=products[i]._id%>">
            <img
              class="img-fluid"
              src="/uploads/product-images/<%= products[i].productImage[0] %>"
              alt="<%= products[i].productName %>"
            />
          </a>
          <div class="product-details">
            <h6><%= products[i].productName %></h6>
            <div class="price">
              <h6>
                ₹<%= products[i].salePrice.toLocaleString('en-IN') %>
              </h6>
              <h6 class="l-through">
                ₹<%= products[i].regularPrice.toLocaleString('en-IN') %>
              </h6>
            </div>
            <div class="prd-bottom">
              <a
                href="/add-To-cart?id=<%=products[i]._id%>&quantity=<%=products[i].quantity%>"
                class="social-info"
              >
                <span class="ti-bag"></span>
                <p class="hover-text">add to bag</p>
              </a>
              <a
                href="javascript:void(0);"
                class="social-info"
                onclick="addToWishlist('<%= products[i]._id.toString() %>')"
              >
                <span class="lnr lnr-heart"></span>
                <p class="hover-text">Wishlist</p>
              </a>
              <a href="#" class="social-info">
                <span class="lnr lnr-sync"></span>
                <p class="hover-text">compare</p>
              </a>
              <a href="#" class="social-info">
                <span class="lnr lnr-move"></span>
                <p class="hover-text">view more</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</section>
          <!-- End Best Seller -->
        </div>

        
<!-- Sidebar Categories -->
<div class="col-xl-3 col-lg-4 col-md-5">
	<div class="sidebar-categories">
	  <div class="head">Search</div>
	  <form id="searchForm" class="position-relative">
		<input
		  type="text"
		  id="searchQuery"
		  class="form-control pr-5"
		  placeholder="Search products..."
		  required
		/>
		<button
		  type="submit"
		  class="btn position-absolute"
		  style="
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			border: none;
			background: none;
		  "
		>
		  <i class="lnr lnr-magnifier"></i>
		</button>
	  </form>
	</div>
  
	<div class="sidebar-categories">
	  <div class="head">Browse Categories</div>
	  <ul class="main-categories" id="categoryList">
		<% category.forEach(cat => { %>
		<li class="main-nav-list">
		  <a
			href="#"
      data-category="<%=cat._id.toString()%>"
			class="category-link <%= selectedCategory && selectedCategory === cat._id.toString() ? 'selected' : '' %>"
		  >
			<span class="lnr lnr-arrow-right"></span>
			<%= cat.name %><span class="number"><%=cat.quantity%></span>
		  </a>
		</li>
		<% }) %>
	  </ul>
	</div>
  
	<div class="sidebar-categories">
	  <div class="head">Price</div>
	  <ul class="main-categories" id="priceFilters">
		<li class="main-nav-list">
		  <a href="#" data-gt="0" data-lt="500" class="<%= gt == 0 && lt == 500 ? 'selected' : '' %>">Under ₹500</a>
		</li>
		<li class="main-nav-list">
		  <a href="#" data-gt="500" data-lt="1000" class="<%= gt == 500 && lt == 1000 ? 'selected' : '' %>">₹500 - ₹1000</a>
		</li>
		<li class="main-nav-list">
		  <a href="#" data-gt="1000" data-lt="1500" class="<%= gt == 1000 && lt == 1500 ? 'selected' : '' %>">₹1000 - ₹1500</a>
		</li>
		<li class="main-nav-list">
		  <a href="#" data-gt="2000" data-lt="1000000" class="<%= gt == 2000 && lt == 1000000 ? 'selected' : '' %>">Above ₹2000</a>
		</li>
	  </ul>
	</div>
  
	<div class="sidebar-categories">
	  <div class="head">Sort By</div>
	  <ul class="main-categories" id="sortOptions">
		<li class="main-nav-list">
		  <a
			href="#"
			data-sort="price_asc"
			class="<%= sort === 'price_asc' ? 'selected' : '' %>"
			>Price: Low to High</a
		  >
		</li>
		<li class="main-nav-list">
		  <a
			href="#"
			data-sort="price_desc"
			class="<%= sort === 'price_desc' ? 'selected' : '' %>"
			>Price: High to Low</a
		  >
		</li>
		<li class="main-nav-list">
		  <a
			href="#"
			data-sort="name_asc"
			class="<%= sort === 'name_asc' ? 'selected' : '' %>"
			>Name: A-Z</a
		  >
		</li>
		<li class="main-nav-list">
		  <a
			href="#"
			data-sort="name_desc"
			class="<%= sort === 'name_desc' ? 'selected' : '' %>"
			>Name: Z-A</a
		  >
		</li>
	  </ul>
	</div>
	<div class="sidebar-categories">
		<button id="clearFilters" class="btn btn-filter btn-block">Clear Filters</button>
	  </div>
  </div>
  

    <!-- Start related-product Area -->

    <!-- End related-product Area -->

    <!-- start footer Area -->
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>About Us</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore dolore magna aliqua.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Newsletter</h6>
              <p>Stay update with our latest</p>
              <div class="" id="mc_embed_signup">
                <form
                  target="_blank"
                  novalidate="true"
                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                  method="get"
                  class="form-inline"
                >
                  <div class="d-flex flex-row">
                    <input
                      class="form-control"
                      name="EMAIL"
                      placeholder="Enter Email"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter Email '"
                      required=""
                      type="email"
                    />

                    <button class="click-btn btn btn-default">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </button>
                    <div style="position: absolute; left: -5000px">
                      <input
                        name="b_36c4fd991d266f23781ded980_aefe40901a"
                        tabindex="-1"
                        value=""
                        type="text"
                      />
                    </div>

                    <!-- <div class="col-lg-4 col-md-4">
													<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
												</div>  -->
                  </div>
                  <div class="info"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget mail-chimp">
              <h6 class="mb-20">Instragram Feed</h6>
              <ul class="instafeed d-flex flex-wrap">
                <li><img src="img/i1.jpg" alt="" /></li>
                <li><img src="img/i2.jpg" alt="" /></li>
                <li><img src="img/i3.jpg" alt="" /></li>
                <li><img src="img/i4.jpg" alt="" /></li>
                <li><img src="img/i5.jpg" alt="" /></li>
                <li><img src="img/i6.jpg" alt="" /></li>
                <li><img src="img/i7.jpg" alt="" /></li>
                <li><img src="img/i8.jpg" alt="" /></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Follow Us</h6>
              <p>Let us be social</p>
              <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="footer-bottom d-flex justify-content-center align-items-center flex-wrap"
        >
          <p class="footer-text m-0">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>
    <!-- End footer Area -->

    <!-- Modal Quick Product View -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="container relative">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="product-quick-view">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="quick-view-carousel">
                  <div
                    class="item"
                    style="background: url(img/organic-food/q1.jpg)"
                  ></div>
                  <div
                    class="item"
                    style="background: url(img/organic-food/q1.jpg)"
                  ></div>
                  <div
                    class="item"
                    style="background: url(img/organic-food/q1.jpg)"
                  ></div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="quick-view-content">
                  <div class="top">
                    <h3 class="head">Mill Oil 1000W Heater, White</h3>
                    <div class="price d-flex align-items-center">
                      <span class="lnr lnr-tag"></span>
                      <span class="ml-10">$149.99</span>
                    </div>
                    <div class="category">Category: <span>Household</span></div>
                    <div class="available">
                      Availibility: <span>In Stock</span>
                    </div>
                  </div>
                  <div class="middle">
                    <p class="content">
                      Mill Oil is an innovative oil filled radiator with the
                      most modern technology. If you are looking for something
                      that can make your interior look awesome, and at the same
                      time give you the pleasant warm feeling during the winter.
                    </p>
                    <a href="#" class="view-full"
                      >View full Details
                      <span class="lnr lnr-arrow-right"></span
                    ></a>
                  </div>
                  <div class="bottom">
                    <div class="color-picker d-flex align-items-center">
                      Color:
                      <span class="single-pick"></span>
                      <span class="single-pick"></span>
                      <span class="single-pick"></span>
                      <span class="single-pick"></span>
                      <span class="single-pick"></span>
                    </div>
                    <div
                      class="quantity-container d-flex align-items-center mt-15"
                    >
                      Quantity:
                      <input
                        type="text"
                        class="quantity-amount ml-15"
                        value="1"
                      />
                      <div class="arrow-btn d-inline-flex flex-column">
                        <button
                          class="increase arrow"
                          type="button"
                          title="Increase Quantity"
                        >
                          <span class="lnr lnr-chevron-up"></span>
                        </button>
                        <button
                          class="decrease arrow"
                          type="button"
                          title="Decrease Quantity"
                        >
                          <span class="lnr lnr-chevron-down"></span>
                        </button>
                      </div>
                    </div>
                    <div class="d-flex mt-20">
                      <a href="#" class="view-btn color-2"
                        ><span>Add to Cart</span></a
                      >
                      <a href="#" class="like-btn"
                        ><span class="lnr lnr-layers"></span
                      ></a>
                      <a href="#" class="like-btn"
                        ><span class="lnr lnr-heart"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script>
    function applyFilters(filters = {}) {
      const currentFilters = {
        category: document.querySelector(".category-link.selected")?.dataset.category,
        gt: document.querySelector("#priceFilters a.selected")?.dataset.gt,
        lt: document.querySelector("#priceFilters a.selected")?.dataset.lt,
        sort: document.querySelector("#sortOptions a.selected")?.dataset.sort,
        query: document.getElementById("searchQuery").value.trim(),
        ...filters,
      };
    
      // Remove empty filters
      Object.keys(currentFilters).forEach((key) => {
        if (!currentFilters[key]) {
          delete currentFilters[key];
        }
      });
    
      // Convert to query string
      const queryParams = new URLSearchParams(currentFilters).toString();
      console.log("Request URL: ", `/filter?${queryParams}`); // Debugging statement
    
      // Fetch filtered products
      fetch(`/filter?${queryParams}`)
        .then((response) => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json(); // Parse JSON response
        })
        .then((data) => {
          if (data.success) {
            renderProducts(data.products); // Render products
            updateSelectedFilters(currentFilters); // Update selected filters in UI
          } else {
            console.error("Error:", data.message);
          }
        })
        .catch((error) => console.error("Error:", error));
    }
// Function to render products
function renderProducts(products) {
  const productList = document.getElementById("productList");
  if (!productList) {
    console.error("Product list container not found!");
    return;
  }

  // Clear existing products
  productList.innerHTML = "";

  // Render new products
  if (products.length === 0) {
    productList.innerHTML = "<p>No products found.</p>";
    return;
  }

  products.forEach((product) => {
    const productItem = document.createElement("div");
    productItem.className = "col-lg-4 col-md-6";
    productItem.innerHTML = `
      <div class="single-product">
        <a href="/productDetails?id=${product._id}">
          <img
            class="img-fluid"
            src="/uploads/product-images/${product.productImage[0]}"
            alt="${product.productName}"
          />
        </a>
        <div class="product-details">
          <h6>${product.productName}</h6>
          <div class="price">
            <h6>₹${product.salePrice.toLocaleString("en-IN")}</h6>
            <h6 class="l-through">₹${product.regularPrice.toLocaleString("en-IN")}</h6>
          </div>
          <div class="prd-bottom">
            <a
              href="/add-To-cart?id=${product._id}&quantity=${product.quantity}"
              class="social-info"
            >
              <span class="ti-bag"></span>
              <p class="hover-text">add to bag</p>
            </a>
            <a
              href="javascript:void(0);"
              class="social-info"
              onclick="addToWishlist('${product._id.toString()}')"
            >
              <span class="lnr lnr-heart"></span>
              <p class="hover-text">Wishlist</p>
            </a>
            <a href="#" class="social-info">
              <span class="lnr lnr-sync"></span>
              <p class="hover-text">compare</p>
            </a>
            <a href="#" class="social-info">
              <span class="lnr lnr-move"></span>
              <p class="hover-text">view more</p>
            </a>
          </div>
        </div>
      </div>
    `;
    productList.appendChild(productItem);
  });
}

// Function to update selected filters in UI
function updateSelectedFilters(filters) {
  document.querySelectorAll(".category-link, #priceFilters a, #sortOptions a").forEach((el) => el.classList.remove("selected"));

  if (filters.category) {
    document.querySelector(`.category-link[data-category="${filters.category}"]`).classList.add("selected");
  }
  if (filters.gt && filters.lt) {
    document.querySelector(`#priceFilters a[data-gt="${filters.gt}"][data-lt="${filters.lt}"]`).classList.add("selected");
  }
  if (filters.sort) {
    document.querySelector(`#sortOptions a[data-sort="${filters.sort}"]`).classList.add("selected");
  }
}

// Event Listeners
document.getElementById("searchForm").addEventListener("submit", function (event) {
  event.preventDefault();
  applyFilters({ query: document.getElementById("searchQuery").value.trim() });
});

document.querySelectorAll(".category-link").forEach((link) => {
  link.addEventListener("click", function (event) {
    event.preventDefault();
    applyFilters({ category: this.dataset.category });
  });
});

document.querySelectorAll("#priceFilters a").forEach((link) => {
  link.addEventListener("click", function (event) {
    event.preventDefault();
    applyFilters({ gt: this.dataset.gt, lt: this.dataset.lt });
  });
});

document.querySelectorAll("#sortOptions a").forEach((link) => {
  link.addEventListener("click", function (event) {
    event.preventDefault();
    applyFilters({ sort: this.dataset.sort });
  });
});

document.getElementById("clearFilters").addEventListener("click", function (event) {
  event.preventDefault();
  document.querySelectorAll(".category-link, #priceFilters a, #sortOptions a").forEach((el) => el.classList.remove("selected"));
  document.getElementById("searchQuery").value = "";
  applyFilters({});
});
</script>
    <script>
      document.querySelectorAll(".add-to-cart").forEach((button) => {
        button.addEventListener("click", async (e) => {
          e.preventDefault();
          const productId = button.dataset.productId;
          const quantity = button.dataset.quantity;

          try {
            const response = await fetch(
              `/add-To-cart?id=${productId}&quantity=${quantity}`,
              { method: "POST" }
            );
            const result = await response.json();

            if (result.status === "success") {
              Swal.fire({
                title: "Success!",
                text: result.message,
                icon: "success",
                showCancelButton: true,
                confirmButtonText: "Okay",
                cancelButtonText: "Go to Cart",
                reverseButtons: true,
              }).then((result) => {
                if (result.isDismissed) {
                  window.location.href = "/view-cart";
                }
              });
            } else {
              Swal.fire({
                title: "Error!",
                text: result.message,
                icon: "error",
                confirmButtonText: "Okay",
              });
            }
          } catch (error) {
            Swal.fire({
              title: "Error!",
              text: "An error occurred while adding the product to the cart.",
              icon: "error",
              confirmButtonText: "Okay",
            });
          }
        });
      });
    </script>

    <% if (message && message.status) { %>
    <script>
      window.onload = function () {
        const status = "<%= message.status %>";
        const messageText = "<%= message.message %>";

        if (status === "success") {
          Swal.fire({
            title: "Success!",
            text: messageText,
            icon: "success",
            showCancelButton: true,
            confirmButtonText: "Okay",
            cancelButtonText: "Go to Cart",
            reverseButtons: true,
          }).then((result) => {
            if (result.isDismissed) {
              window.location.href = "/view-cart";
            }
          });
        } else if (status === "failure") {
          Swal.fire({
            title: "Error!",
            text: messageText,
            icon: "error",
            confirmButtonText: "Okay",
          });
        }
      };
    </script>
    <% } %>
    <script>
      function addToWishlist(productId) {
        console.log("Product ID:", productId);

        if (!productId) {
          Swal.fire({
            title: "Error",
            text: "Invalid Product ID",
            icon: "error",
            timer: 2000,
          });
          return;
        }

        fetch(`/addToWishlist?jsonResponse=true`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ productId }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Server Response:", data);

            if (data.status) {
              Swal.fire({
                title: "Added to Wishlist",
                text: "The product has been added!",
                icon: "success",
                timer: 2000,
              });
            } else {
              Swal.fire({
                title: "Info",
                text: data.message,
                icon: "info",
                timer: 2000,
              }).then(() => {
                window.location.href = "/login"; // Redirect to login page
              });
            }
          })
          .catch((error) => {
            console.error("AJAX Error:", error);
            Swal.fire({
              title: "Error",
              text: "Could not add product to wishlist",
              icon: "error",
              timer: 2000,
            });
          });
      }
    </script>
    <script>
      function applySort(event, sortValue) {
        event.preventDefault(); // Prevent default anchor behavior

        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("sort", sortValue); // Update sort parameter
        window.location.href = `/sortProducts?${urlParams.toString()}`; // Redirect to the correct route
      }
    </script>
  </body>
</html>
